.modal {
  margin: 0;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  padding: 28px 28px 36px;
  background-color: #ffffff;
  max-width: 496px;
  max-height: 436px;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.modal__form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.modal__close-btn {
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 28px;
  border: none;
  background: center / contain no-repeat rgb(0, 0, 0, 0)
    url(../../assets/close-btn.svg);
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__title {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__fieldset {
  padding: 0;
  max-width: 173px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__radio-btn {
  display: block;
}

.modal__label {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  border-bottom: 1px solid black;
}

.modal__label_radio {
  opacity: 50%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border: none;
  font-size: 20px;
  opacity: 40%;
}

.modal__input:focus-visible {
  outline: none;
  border: none;
}

.modal__label:has(.modal__input_type_error) {
  color: #ff4d00;
}

.modal__input_type_error {
  color: #ff4d00;
}

.modal__error {
  color: #ff4d00;
}

.modal__radio-input {
  position: relative;
  margin-right: 8px;
  border: 1px solid #000000;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  opacity: 50%;
}

.modal__radio-input::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  top: 2px;
  left: 2px;
}

.modal__radio-input:checked::before {
  transform: scale(1);
}

.modal__radio-input:checked + label {
  opacity: 100%;
}

.modal__radio-input:checked {
  opacity: 100%;
}

.modal__submit-btn {
  padding: 8px 16px;
  max-width: 124px;
  max-height: 36px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #000;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__submit-btn:disabled {
  opacity: 30%;
}

@media screen and (max-width: 630px) {
  .modal__container {
    max-width: 343px;
    max-height: 463px;
  }
}
