.weather-card__container {
  margin-top: 28px;
  border-radius: 12px;
  color: #ffffff;
  position: relative;
  display: flex;
  height: 80px;
  overflow: hidden;
}

.weather-card__temperature {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 36px;
  line-height: 40px;
  position: absolute;
  top: 20px;
  left: 16px;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}

@media screen and (max-width: 630px) {
  .weather-card__container {
    margin-top: 0;
  }
}
