@import "../ModalWithForm/ModalWithForm.css";

.modal__container_preview {
  padding: 0;
  max-width: 498px;
  height: 610px;
  overflow: hidden;
}

.modal__close_preview {
  top: 24px;
}

.modal__image {
  width: 100%;
  height: 498px;
}

.modal__footer {
  padding: 20px 33px 0 32px;
  font-family: "Cabinet Grotesk";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 92px;
  align-content: space-between;
}

.modal__caption {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete-btn {
  padding: 0;
  width: fit-content;
  border: none;
  background-color: transparent;
  color: #ff4d00;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .modal__container_preview {
    max-width: 343px;
    max-height: 463px;
  }

  .modal__close_preview {
    top: 12px;
    left: 309px;
  }
}
