.side-bar {
  margin: 0;
  width: 345px;
}
.side-bar__user-container {
  margin: 0;
  padding-top: 47px;
  max-width: 229px;
  width: 100%;
  max-height: 56px;
  display: flex;
}

.side-bar__avatar {
  width: 56px;
  max-height: 56px;
  object-fit: cover;
  border-radius: 100%;
}

.side-bar__user-name {
  width: fit-content;
  margin-left: 16px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

@media screen and (max-width: 630px) {
  .side-bar {
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #0000004d;
    border-top: 1px solid #0000004d;
  }

  .side-bar__user-container {
    max-height: 100px;
    padding: 0;
    margin: 20px 0;
  }

  .side-bar__user-name {
    size: 24px;
    margin-left: 20px;
    margin-top: 0;
  }
}
