.clothing-selection {
  margin: 0;
  padding-top: 63px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1015px;
}

.clothes-selection__title {
  margin: 0px 20px 0 0;
  width: fit-content;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  line-height: 100%;
}

.clothing-selection__button {
  width: 88px;
  padding: 0;
  border: none;
  color: #00000099;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.clothing-selection__button:hover {
  cursor: pointer;
}

.clothing-selection__list {
  padding: 0;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
  margin: 16px 0 80px;
  align-content: end;
}

@media screen and (max-width: 630px) {
}
